<form class="form-horizontal" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Creation d'un bug</legend>
    <div class="form-group">
      <label for="inputLibelle" class="col-lg-2 control-label">Nom du bug</label>
      <div class="col-lg-10">
        <input class="form-control" id="inputLibelle" placeholder="Nom du bug" type="text"
        [(ngModel)]="fiche-bug.libelle" name="libelle" #libelle="ngModel" required>
      </div>
    </div>
    <br/> 
    <div class="form-group">
      <label for="inputDescription" class="col-lg-2 control-label">Description</label>
      <div class="col-lg-10">
        <input class="form-control" id="inputDescription" placeholder="Description" type="text"
        [(ngModel)]="fiche-bug.description" name="description" #description="ngModel" required>
      </div>
    </div> 
    <br/> 
    <br/>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2"> 
        <button type="reset" class="btn btn-default">Annuler</button> 
        <button type="submit" class="btn btn-primary">Creer</button>
      </div>
    </div>
  </fieldset>
</form>