<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
      <a class="navbar-brand" routerLink="">Ma Liste de Tests</a>
      <a class="navbar-brand" routerLink="">Ma Liste de Candidats</a>
      <a class="navbar-brand" routerLink="">Ma Liste de Testeurs</a>
      <a class="navbar-brand" routerLink="">Ma Gestion des tests</a>
      <a class="navbar-brand" routerLink="/pageEditeur/creationTest">Créer un test</a>
    </div>
  </div>
</nav>
