bla
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>id</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Date de publication</th>
            <th>Date de fin</th>
            <th>Remuneration</th>
            <th>Nombre de Testeur attendu</th>
            <th>Liste des Testteurs ?</th>
            <th>Statut modifiable ?</th>
            <th>liste des bugs ?</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let test of tests">
            <th>{{testeur.id}}</th>
            <td>{{testeur.nomTest}}</td>
            <td>{{testeur.description}}</td>
            <th>{{test.datePublication}}</th>
            <th>{{test.dateFin}}</th>
            <th>{{test.remuneration}}</th>
            <th>{{test.nbTesteurAttendu}}</th>
            <th></th>
            <th>{{teststatutth>
            <th></th>
        </tr>
    </tbody>
</table>