<form class="form-horizontal" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Inscription en tant que testeur</legend>
    <div class="form-group">
      <label for="inputNomUtilisateur" class="col-lg-2 control-label">Nom utilisateur</label>
      <div class="col-lg-10">
        <input class="form-control" placeholder="NomUtilisateur" type="text" required [(ngModel)]="testeur.nomUtilisateur" name="nomUtilisateur"
          #nomUtilisateur="ngModel" required>
      </div>
    </div>
    <br/>
    <div class="form-group">
      <label for="inputMail" class="col-lg-2 control-label">Mail</label>
      <div class="col-lg-10">
        <input class="form-control" placeholder="Mail" type="text" required [(ngModel)]="testeur.mail" name="mail" #mail="ngModel"
          required>
      </div>
    </div>
    <br/>
    <div class="form-group">
      <label for="inputMdp" class="col-lg-2 control-label">Mot de passe</label>
      <div class="col-lg-10">
        <input class="form-control" placeholder="Mot de passe" type="text" required [(ngModel)]="testeur.mdp" name="mdp" #mdp="ngModel"
          required>
      </div>
    </div>
    <br/>
    <div class="form-group">
      <label for="inputNom" class="col-lg-2 control-label">Nom</label>
      <div class="col-lg-10">
        <input class="form-control" placeholder="Nom" type="text" required [(ngModel)]="testeur.nom" name="nom" #nom="ngModel" required>
      </div>
    </div>
    <br/>
    <div class="form-group">
      <label for="inputPrenom" class="col-lg-2 control-label">Prenom</label>
      <div class="col-lg-10">
        <input class="form-control" placeholder="Prenom" type="text" required [(ngModel)]="testeur.Prenom" name="nomPrenom" #nomUtilisateur="ngModel"
          required>
      </div>
    </div>
    <br/>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Creer</button>
      </div>
    </div>
  </fieldset>
</form>