<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Liste testeurs</title>
    <link href="../../../css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Competence</th>
                <th>Mail</th>
                <th>Mot de passe</th>
                <!--<th>Compétences</th>
                <th>Test</th>-->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let testeur of testeurs">
                <td>{{testeur.nom}}</td>
                <td>{{testeur.prenom}}</td>
                <th>{{testeur.competence}}</th>
                <th>{{testeur.mail}}</th>
                <th>{{testeur.mdp}}</th>
                <!--<td *ngFor="let competences of testeur.competences; let i = index; trackBy:trackByIndex">{{testeur.competence[i]}}</td>
                <td>{{testeur.test}}</td>-->
            </tr>
        </tbody>
    </table>
</body>

</html>