<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Accueil Component</title>
  <link href="../../../css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
  <h1>C'est trop génial</h1>
  <a routerLink="listeUtilisateurs">Liste Utilisateur</a>
  <!-- <app-testeur></app-testeur>-->
  <!-- <div class="col-lg-6 "><app-formulaire-testeur></app-formulaire-testeur></div>-->
  <!--<app-developpeur></app-developpeur>-->

  <!-- <app-liste-utilisateurs></app-liste-utilisateurs>-->

  <router-outlet>
    
    </router-outlet>
</body>

</html>