<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Accueil Component</title>
  <link href="../../../css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
  <h1>C'est trop génial</h1>

  <!-- NavBar-->
  <ul class="nav nav-tabs">
    <li class="active"><a routerLink="" data-toggle="tab">Home</a></li>
    <li><a routerLink="listeUtilisateurs">Liste des Utilisateurs</a></li>
    <li><a routerLink="" data-toggle="tab">Inscription</a></li>
    <li><a routerLink="/inscriptionTesteur">Vous êtes un testeur</a></li>
    <li><a routerLink="/inscriptionEditeur">Vous êtes un professionel</a></li>
    <li class="navbar-right"><app-login-box></app-login-box></li>
  </ul>
  <br/>

  <!-- Navigation temporaire entre editeur et testeur-->
  <nav>
    <ul class="nav nav-pills">
      <li><a routerLink="pageEditeur">Page Editeur</a></li>
      <li><a routerLink="pageTesteur">Page Testeur</a></li>
    </ul>
  </nav>
  <br/>

  <!-- Definition emplacement des pages-->
  <router-outlet></router-outlet>

</body>

</html>