<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Accueil Component</title>
  <link href="../../../css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
  <!--<h1 style="text-align:center">Bug Tracker 4.0.4!! </h1>
  <h2 style="text-align:center">Trouve ton bug!!</h2>-->
 <div class="container">
  <div class="col-md-4 col-md-offset-2"><img src="../../../img/logo.jpg" rel="stylesheet" /></div></div>
<br/>
  <!-- NavBar-->
  <ul class="nav nav-tabs">
    <li class="active"><a routerLink="" data-toggle="tab">Home</a></li>
    <li><a routerLink="listeUtilisateurs">Liste des Utilisateurs</a></li>
    <li><a routerLink="" data-toggle="tab">Inscription</a></li>
    <li><a routerLink="/inscriptionTesteur">Vous êtes un testeur</a></li>
    <li><a routerLink="/inscriptionEditeur">Vous êtes un professionel</a></li>
    <li class="navbar-right">
      <app-login-box></app-login-box>
    </li>
  </ul>
  <br/>
  
  <!-- Definition emplacement des pages-->
  <router-outlet></router-outlet>

</body>

</html>