<form class="form-horizontal" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Candidater à un test</legend>
    <div class="form-group">
      <label for="inputLettreMotivation" class="col-lg-2 control-label">Commentaire</label>
      <div class="col-lg-6">
        <input class="form-control" placeholder="lettreMotivation" type="text" 
         [(ngModel)]="candidature.lettreMotivation" name="lettreMotivation" #lettreMotivation="ngModel" required >
      </div>
    </div>
    <br/>
    <div class="col-lg-6">
      <input class="form-control" type="hidden" value="{{idTesteur}}"  name="idTesteur">
    </div>
    <br/>
    <div class="col-lg-6">
      <input class="form-control" type="hidden" value="{{idTest}}"  name="idTest">
    </div>
    <br/>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2"> 
        <button type="reset" class="btn btn-default">Annuler</button> 
        <button type="submit" class="btn btn-primary">Envoyer</button>
      </div>
    </div>
  </fieldset>
</form>
