<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body ng-app="myApp" ng-controller="userCtrl">

<div class="w3-container">

<h3>Formulaire de test</h3>

<br>

<form ng-hide="hideform">
  <h3 ng-show="edit">Creer un nouveau test :</h3>
    <label>Nom du test :</label>
    <input class="w3-input w3-border" type="text" ng-model="nTest" ng-disabled="!edit" placeholder="Nom du test">
  <br>
    <label>Description :</label>
    <input class="w3-input w3-border" type="text" ng-model="Description" ng-disabled="!edit" placeholder="Description">
  <br>
    <label>Date de publication :</label>
    <input class="w3-input w3-border" type="password" ng-model="datePubli" placeholder="Date de publication">
  <br>
    <label>Date de fin :</label>
    <input class="w3-input w3-border" type="password" ng-model="dateFin" placeholder="Date de fin">
 <br>
    <label>Remuneration :</label>
    <input class="w3-input w3-border" type="password" ng-model="remuneration" placeholder="Remuneration">
 <br>
    <label>Nombre de testeurs attendu :</label>
    <input class="w3-input w3-border" type="password" ng-model="nbTesteurAttendus" placeholder="Nombre de testeurs attendu">
<br>
<button class="w3-btn w3-green w3-ripple" ng-click="editUser('new')">&#9998; Creer un nouveau test</button>
</form>

</div>

<script src= "myUsers.js"></script>

</body>
</html>
