<form class="form-horizontal" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Incrisption en tant que testeureu</legend>
    <div class="form-group">
      <label for="inputNomUtilisateur" class="col-lg-2 control-label">Nom utilisateur</label>
      <div class="col-lg-10">
        <input class="form-control" placeholder="NomUtilisateur" type="text" 
        required [(ngModel)]="testeur.nomUtilisateur" name="nomUtilisateur" #nomUtilisateur="ngModel" required >
      </div>
    </div>
    <br/>
    <div class="form-group">
      <label for="inputMail" class="col-lg-2 control-label">Mail</label>
      <div class="col-lg-10">
        <input class="form-control" id="inputMail" placeholder="Mail" type="text">
      </div>
    </div>
    <br/>
    <div class="form-group">
        <label for="inputMdp" class="col-lg-2 control-label">Mot de passe</label>
        <div class="col-lg-10">
          <input class="form-control" id="inputMdp" placeholder="Mdp" type="text">
        </div>
      </div>
      <br/>
    <div class="form-group">
      <label for="inputNom" class="col-lg-2 control-label">Nom</label>
      <div class="col-lg-10">
        <input class="form-control" id="inputNom" placeholder="Nom" type="text">
      </div>
    </div>
    <br/>
    <div class="form-group">
      <label for="inputPrenom" class="col-lg-2 control-label">Prenom</label>
      <div class="col-lg-10">
        <input class="form-control" id="inputPrenom" placeholder="Prenom" type="text">
      </div>
    </div>
    <br/>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
          <button class="btn btn-primary">Creer</button>
      </div>
    </div>
  </fieldset>
</form>